.idea
.idea_modules
target
project/boot
project/project
project/metals.sbt
*.swp
project.vim
tags
.lib
*~
*#
.DS_Store
.history
.cache
.classpath
.project
.settings
.boot
.ivy
.metals
.bloop
debian/changelog
setup